<div class="container">
  <div class="row">
    <div class="col">
      <div class="card career store-career">
        <div class="card-body">
          <h3>Việc làm khối cửa hàng</h3>
          <img src="assets/images/store-career-banner.jpeg" class="img-fluid">
        </div>
        <div class="card-footer">
          <ul>
            <li><a routerLink="/careers/qly-cuahang"><h4>Quản lý Cửa hàng</h4></a></li>
            <li><a routerLink="/careers/giamsat"><h4>Giám sát ca</h4></a></li>
            <li><a routerLink="/careers/barista"><h4>Barista</h4></a></li>
            <li><a routerLink="/careers/nvien-bep"><h4>Nhân viên bếp</h4></a></li>
            <li><a routerLink="/careers/baove"><h4>Bảo vệ</h4></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card career office-career">
        <div class="card-body">
          <h3>Việc làm khối văn phòng</h3>
          <img src="assets/images/office-career-banner.jpeg" class="img-fluid">
        </div>
        <div class="card-footer">
          <ul>
            <li><a routerLink="/careers/cvien-tuyendung"><h4>Chuyên viên tuyển dụng</h4></a></li>
            <li><a routerLink="/careers/cvien-sqs"><h4>Chuyên viên quản lý chất lượng</h4></a></li>
            <li><a routerLink="/careers/ketoan"><h4>Kế toán tổng hợp</h4></a></li>
            <li><a routerLink="/careers/nvien-cskh"><h4>Nhân viên chăm sóc khách hàng</h4></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
