.store-all{
  margin-top: 80px;
}
.stores{
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.card{
  position: unset;
}
#sidebar{
  position: fixed;
  margin-top: 80px;
}
.carousel-inner{
  box-sizing: border-box;
}
.btn-menu{
  color: #E57905;
  text-align: left;
}
