<div class="container">
  <div class="row">
    <div class="new-products">
      <h2 style="color: #E57905">Sản phẩm mới</h2>
      <hr>
      <div class="row">
        <div class="col-5">
          <img src="assets/images/cloudtea.webp" class="img-fluid">
        </div>
        <div class="col-7">
          <img src="assets/images/cloudtea1.webp" class="img-fluid">
          <p>Vừa êm mượt dịu dàng, vừa bùng nổ nồng nàn, BST Trà Sữa CloudTea Hương Vị Nụ Hôn Đầu mang đến trải nghiệm đầy mới mẻ. Chạm môi là foam béo mịn bồng bềnh, càng thêm đậm đà nhờ topping vụn bánh quy phô mai hoặc bột ca cao thơm lừng. Kế tiếp là tầng trà sữa sóng sánh, đậm hương, rõ vị. Và tầng thạch nguyên chất, dai giòn giúp giữ trọn vị trà sữa đến ngụm cuối cùng. 3 tầng hòa quyện, nhấp một ngụm là ghiền, nhớ mãi không thôi.</p>
          <a routerLink="/categories/cloudtea"><button type="button" class="btn btn-lg btn-primary">Thử ngay</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
