<div class="container">
  <div class="row">
    <div class="checkout row">
      <div class="card col-5 buy-summary">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h4>Các món đã chọn</h4>
            </div>
            <div class="col-4"><a routerLink="/categories/cafe"><button type="button" class="btn add-item">Thêm món</button></a></div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <p>Cà phê sữa đá x1</p>
              <p>Trà Đào Cam Sả Đá x1</p>
            </div>
            <div class="col-4">
              <p>29000đ</p>
              <p>49000đ</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-8">
              <p>Phí giao hàng:</p>
            </div>
            <div class="col-4">
              <p>20000đ</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-8">
              <p>Khuyến mại:</p>
            </div>
            <div class="col-4">
              <p>0đ</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h4>Thành tiền: </h4>
            </div>
            <div class="col-4">
              <h4>98000đ</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-1"> </div>
            <button type="button" class="btn btn-lg btn-success col-4">Đặt hàng</button>
            <div class="col-2"> </div>
            <button type="button" class="btn btn-lg btn-danger col-4">Xóa đơn</button>
            <div class="col-1"> </div>
          </div>
        </div>
      </div>
      <div class="col-7 buyer-detail">
        <h4>Giao hàng:</h4>
        <hr>
        <input class="form-control" type="text" placeholder="Tên người nhận" aria-label="default input example">
        <input class="form-control" type="text" placeholder="Địa chỉ" aria-label="default input example">
        <input class="form-control" type="tel" placeholder="Số điện thoại" aria-label="default input example">
        <input class="form-control" type="text" placeholder="Ghi chú cho shipper" aria-label="default input example">
        <hr>
        <h4>Phương thức thanh toán:</h4>
        <hr>
        <div class="row">
          <div class="form-check col">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              <i class="bi bi-cash"></i> Tiền mặt
            </label>
          </div>
          <div class="form-check col">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <i class="bi bi-credit-card"></i> Thẻ ngân hàng
            </label>
          </div>
        </div>
        <hr>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Đồng ý với các <a href="">điều khoản và điều kiện mua hàng</a> của Tsunami Coffee
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
