<!--<div class="container">-->
<header class="header">
  <div class="container">
    <div class="home-nav row">
      <div class="col-3 logo">
        <a routerLink=""><h1>Tsunami Coffee</h1></a>
      </div>
      <div class="col-7 main-menu row">
        <div class="d-flex col-3">
          <button class="btn btn-outline-light" data-bs-toggle="dropdown">Thực đơn</button>
          <div class="dropdown-menu">
            <li class="dropdown-item"><a routerLink="categories/cafe">Cà phê</a></li>
            <li class="dropdown-item"><a routerLink="categories/tea">Trà</a></li>
            <li class="dropdown-item"><a routerLink="categories/cloudtea">CloudTea</a></li>
            <li class="dropdown-item"><a routerLink="categories/cake">Bánh</a></li>
          </div>
        </div>
        <div class="d-flex col-3">
          <button class="btn btn-outline-light" data-bs-toggle="dropdown">Dùng tại nhà</button>
          <div class="dropdown-menu">
            <li class="dropdown-item"><a routerLink="/categories/home-cafe">Cà phê tại nhà</a></li>
            <li class="dropdown-item"><a routerLink="/categories/home-tea">Trà tại nhà</a></li>
            <li class="dropdown-item"><a routerLink="/categories/snack">Snack</a></li>
          </div>
        </div>
        <div class="d-flex col-3">
          <button class="btn btn-outline-light" data-bs-toggle="dropdown">Tin tức</button>
          <div class="dropdown-menu">
            <li class="dropdown-item"><a routerLink="/newproducts">Sản phẩm mới</a></li>
            <li class="dropdown-item"><a href="/promotion">Khuyến mại</a></li>
          </div>
        </div>
        <div class="d-flex col-3">
          <button class="btn btn-outline-light" data-bs-toggle="dropdown">Về chúng tôi</button>
          <div class="dropdown-menu">
            <li class="dropdown-item"><a routerLink="/about">Giới thiệu</a></li>
            <li class="dropdown-item"><a routerLink="/stores">Hệ thống cửa hàng</a></li>
            <li class="dropdown-item"><a routerLink="/careers">Tuyển dụng</a></li>
          </div>
        </div>
      </div>
      <div class="col-2 cart-sum">
        <a routerLink="/checkout">
        <div class="row">
          <div class="col cart-item">
            <i class="bi bi-cart"></i>
          </div>
          <div class="col cart-item">0 <i class="bi bi-cup-straw"></i></div>
          <div class="col cart-item">0 đ</div>
        </div>
        </a>
      </div>
    </div>
  </div>
</header>
<!--content-->
<!--<img src="assets/images/cafesuada-dacbiet.webp" alt="">-->
<div class="container">
  <router-outlet></router-outlet>
</div>
<!--footer-->
<footer>
    <div class="footer-part">
      <div class="container">
        <div class="row">
          <div class="col-3 wiget">
            <div class="logo">
              <a href="#"><h1>Tsunami Coffee</h1></a>
            </div>
            <div>
              <p class="footer-desc">We have a hankering for some really in good melt in a mouth variety. Floury is the best choice to taste food and dessert.</p>
            </div>
            <ul class="footer-social row">
              <li class="col-3"><a href="#"><i class="bi bi-facebook"></i></a></li>
              <li class="col-3"><a href="#"><i class="bi bi-messenger"></i></a></li>
              <li class="col-3"><a href="#"><i class="bi bi-instagram"></i></a></li>
              <li class="col-3"><a href="#"><i class="bi bi-youtube"></i></a></li>
            </ul>
          </div>
          <div class="col-3 wiget">
            <h3><u>Liên hệ</u></h3>
            <p>An Hưng, Hà Đông, Hà Nội</p>
            <p>Tell: +84 988 888 888</p>
            <p>Facebook: fb.com/tsunamicoffee</p>
          </div>
          <div class="col-3 wiget">
            <h3><u>Giờ mở cửa</u></h3>
            <p>Thứ 2 đến thứ 6: 8.30 - 22.00</p>
            <p>Cuối tuần: 8.00 - 23.00</p>
            <p>Ngày lễ: 8.00 - 23.00</p>
          </div>
          <div class="col-3 wiget">
            <h3><u>Media</u></h3>
            <a href="https://youtu.be/5P5WUGL6sEY" class="magnific-youtube">
              <img src="https://despina.sk-web-solutions.com/wp-content/uploads/2017/05/video-bg.png" alt="Video Image"></a>
          </div>
        </div>
      </div>
    </div>
</footer>
<div class="footer">
</div>
<!--</div>-->

