<div class="container">
  <div class="row">
    <div class="promotion">
      <h2 style="color: #E57905">Khuyến mãi</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="assets/images/promo1.jpg" class="img-fluid promo-img">
    </div>
    <div class="col-8 promo-detail">
      <h5>TẶNG SANTA CLOUD KHI MUA MERRY CLOUDTEA</h5>
      <p>Từ 11 - 27.12.2022, ông Santa Cloud Chocolate cưng ơi là cưng sẽ được tặng kèm khi bạn mua Trà sữa Merry CloudTea. Hổng chỉ tại cửa hàng thôi đâu, mà khi bạn "chốt đơn" trên app & website Nhà cũng được quà nữa đó. </p>
      <p>Số lượng quà có hạn, nhanh nhanh kẻo hết nghen bạn ơi!</p>
      <a routerLink="/categories/cloudtea"><button type="button" class="btn btn-lg btn-primary">Mua ngay</button></a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 promo-detail">
      <h5>THẦN DEAL GHÉ NHÀ - PHÁT QUÀ BAO LA</h5>
      <p>Thần Deal íu iu, ghé Nhà phát deal MUA 2 TẶNG 1 tới tấp 😍😍</p>
      <p>Tháng 12 này, mình mở tiệc to, tiệc nhỏ không cần lo nữa rồi bạn nhớ ^^</p>
      <ul>
        <li>Thời gian: 09/12 - 22/12</li>
        <li>Áp dụng size M cho Trà sữa CloudTea/ Trà đào cam sả/ Hi-Tea (trong đó có ít nhất 1 Trà sữa CloudTea)</li>
      </ul>
      <a routerLink="/categories/tea"><button type="button" class="btn btn-lg btn-primary">Mua ngay</button></a>
    </div>
    <div class="col-4">
      <img src="assets/images/promo2.jpg" class="promo-img img-fluid">
    </div>
  </div>
</div>
