<div class="container">
  <div class="row">
    <div class="home">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/promo-banner1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/promo-banner2.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/promo-banner3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="assets/images/cloudtea1.webp" class="img-fluid">
            <br>
            <hr>
            <div class="row">
              <div class="col home-item">
                <a routerLink="/products/cloudtea-hongtra"><img src="assets/images/cloudtea-hongtra.webp" class="img-fluid"></a>
                <a routerLink="/products/cloudtea-hongtra"><h4>CloudTea Hồng Trà Arabica</h4></a>
                <p>55000đ</p>
              </div>
              <div class="col home-item">
                <a routerLink="/products/cloudtea-oolong-caramel"><img src="assets/images/cloudtea-oolong-caramel.webp" class="img-fluid"></a>
                <a routerLink="/products/cloudtea-oolong-caramel"><h4>CloudTea Oolong Nướng Caramel</h4></a>
                <p>55000đ</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col home-item">
                <a routerLink="/products/cloudtea-oolong-cheese"><img src="assets/images/cloudtea-oolong-cheese.webp" class="img-fluid"></a>
                <a routerLink="/products/cloudtea-oolong-cheese"><h4>CloudTea Oolong Nướng Kem Cheese</h4></a>
                <p>55000đ</p>
              </div>
              <div class="col home-item">
                <a routerLink="/products/cloudtea-oolong-dua"><img src="assets/images/cloudtea-oolong-dua.webp" class="img-fluid"></a>
                <a routerLink="/products/cloudtea-oolong-dua"><h4>CloudTea Oolong Nướng Kem Dừa</h4></a>
                <p>55000đ</p>
              </div>
            </div>
            <hr>
            <p>Vừa êm mượt dịu dàng, vừa bùng nổ nồng nàn, BST Trà Sữa CloudTea Hương Vị Nụ Hôn Đầu mang đến trải nghiệm đầy mới mẻ.</p>
            <a routerLink="categories/cloudtea"><button type="button" class="btn btn-lg btn-primary">Thử ngay CloudTea >></button></a>
          </div>
        </div>
      </div>
      <hr>
      <div class="container must-try">
        <h2>Đặc biệt tại Tsunami Coffee</h2>
        <br>
        <div class="row">
          <div class="col home-item">
            <a routerLink="/products/cafesuada-dacbiet"><img src="assets/images/cafesuada-dacbiet.webp" class="img-fluid"></a>
            <a routerLink="/products/cafesuada-dacbiet"><h4>Cà phê sữa đá đặc biệt</h4></a>
            <p>39000đ</p>
          </div>
          <div class="col home-item">
            <a routerLink="/products/coldbrew-suatuoi"><img src="assets/images/coldbrew-suatuoi.webp" class="img-fluid"></a>
            <a routerLink="/products/coldbrew-suatuoi"><h4>Cold Brew Sữa Tươi</h4></a>
            <p>45000đ</p>
          </div>
          <div class="col home-item">
            <a routerLink="/products/trahatsen-da"><img src="assets/images/trahatsen-da.webp" class="img-fluid"></a>
            <a routerLink="/products/trahatsen-da"><h4>Trà Hạt Sen Đá</h4></a>
            <p>49000đ</p>
          </div>
          <div class="col home-item">
            <a routerLink="/products/hiteadatuyet-xoaidao"><img src="assets/images/hiteadatuyet-xoaidao.webp" class="img-fluid"></a>
            <a routerLink="/products/hiteadatuyet-xoaidao"><h4>HiTea Đá Tuyết Xoài Đào</h4></a>
            <p>55000đ</p>
          </div>
          <div class="col home-item">
            <a routerLink="/products/mochi-chocolate"><img src="assets/images/mochi-chocolate.webp" class="img-fluid"></a>
            <a routerLink="/products/mochi-chocolate"><h4>Mochi Kem Chocolate</h4></a>
            <p>19000đ</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-5">
            <h2 style="color: #E57905">Quán mới</h2>
            <h4>[ĐN] Triệu Nữ Vương</h4>
            <h6>Add: 9 Triệu Nữ Vương, Hải Châu, Đà Nẵng</h6>
            <h6>Hotline: 0770800900</h6>
            <p>Một không gian ngay góc đường để bạn có thể ngồi cạnh cửa kính và nhìn ngắm đường phố cả ngày không chán, chiều xuống nắng xuyên qua hàng bàng to, chỉ cần lấy máy ra là có hình “sống ảo” ngay nha. Hẹn gặp các bạn tại 09 Triệu Nữ Vương Đà Nẵng nhé!</p>
            <a routerLink="/map/store-dn2"><button class="btn btn-lg btn-warning">Xem bản đồ >></button></a>
          </div>
          <div class="col-7">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/images/store-dn2.1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/images/store-dn2.2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/images/store-dn2.3.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
